*{
    margin: 0;
    padding: 0;
}
body{
    background-color: whitesmoke;
}

/* Header */
.container{
    max-width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
   
}
header{
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #DCD29F;
}
.logo {
    width: 50px;
    height: 50px;
}
.menu ul{
    display: flex;
}
.menu li{
    margin-right: 30px;
    list-style: none;
}
.menu a{
    text-decoration: none;
}

.search{
    width: 200px;
    height: 30px;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    align-items: center;
}

/* main */
.img-container img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
}
.img-container{
    position: relative;
}
.img-container span{
    position: absolute;
    top:80px;
    left: 250px;
    font-size: 46px;
    color: white;
}