
/* font-family: 'Dancing Script', cursive;
   font-family: 'Roboto Serif', sans-serif; */
   *{
    margin: 0;
    padding: 0;
}
body{
    background-color: whitesmoke;
}
a{
    text-decoration: none;
}

/* Header */
.container{
    max-width: 100vw;
   
}
header{
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #DCD29F;
}
header .icon{
    display: none;
}
.logo {
    width: 50px;
    height: 50px;
}
.menu ul{
    display: flex;
}
.menu li{
    margin-right: 30px;
    list-style: none;
    font-weight: 600;
    font-size: 24px;
    font-family: 'Dancing Script', cursive;
}
.menu a{
    text-decoration: none;
    color: black;
}
.menu a:hover{
    background-color: #4a3f08;
    color: white;
    padding: 5px;
}

.search{
    width: 200px;
    height: 30px;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
    color: rgb(175, 173, 173);
}
.search input{
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: none;
    padding: 5px;
    background-color: transparent;
}
.search input:focus{
    outline: none;
}
.icon{
    display: none;
}

/* main */
main{
    display: flex;
    flex-direction: column;
}
main h1{
    text-align: center;
    margin: 20px 0;
}
.lists{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.list-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.list img{
    width: 300px;
    margin: 20px;
    border-radius: 15px;


}





/* footer */

footer{
    background-color: #4a3f08;
    display: flex;
    flex-direction: column;
    color: white;
 
}
footer h4{
    font-size: 32px;
    margin: 30px;
    font-family: 'Dancing Script', cursive;
    
}
.top{
    display: flex; 
}
.top .left{
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.top .left p{
    margin: 10px;
    font-size: 22px;
}
.top .right{
    width: 50%;
    text-align: center;
}

.icons{
    display: flex;
    justify-content: center;
}
.icons a{
    color: white;
}
.fa-brands{
    width: 50px;
    height: 50px;
}
.bottom {
    text-align: center;
    margin: 50px;
    font-size: 12px;
}

@media only screen and (max-width:768px){
    header{
        display: flex;
        align-items: center;
    
    }
    header .icon{
        display: flex;
        justify-content: center;
        width: 30%;
        margin: auto;
       
    }
    .logo_container{
        width: 40%;
        display: flex;
        justify-content: center;
    }
   
    .menu{
        display: none;
    }
    .search{
        border: none;
        width: 30%;
        display: none;
    }
    .search p{
        display: none;
    }
    .list{
        justify-content: center;
    }
    
   
    /* footer */
    
    footer{
        background-color: #4a3f08;
        display: flex;
        flex-direction: column;
        color: white;
     
    }
    footer h4{
        font-size: 32px;
        margin: 30px;
        font-family: 'Dancing Script', cursive;
        
    }
    .top{
        display: flex; 
        flex-direction: column;
    }
    .top .left{
        width: 100%;
    }
    .top .left p{
        margin: 10px;
        font-size: 22px;
    }
    .top .right{
        width: 100%;
    }
    
    .icons{
        display: flex;
        justify-content: center;
    }
    .bottom {
      margin: 30px;
    }












}
